/*헤더(나중에 메인페이지 헤더 붙여넣을 공간*/

* {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgb(73, 80, 87);
}
.logo {
  font-size: 30px;
  margin-left: 50px;
  line-height: 70px;
  font-weight: 600;
}

#editorContainer {
  width: 900px;
  /* margin: 0 auto; */
  position: relative;
  background-color: red;
}

.editorInner {
  position: absolute;
  top: 50%;
  left: 50%;
}

#title > input {
  border: none;
  width: 900px;
  padding: 50px 0 30px 0;
  font-size: 30px;
  border-bottom: 1px solid rgb(73, 80, 87);
}
#title > input:focus {
  outline: none;
}

#toolBox {
  margin-top: 20px;
}

#toolBox button {
  background-color: black;
  color: white;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

#toolBox > div {
  display: inline-block;
}

#img {
  float: right;
  margin-right: 5px;
}

.file {
  display: inline-block;
  width: 112px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

#img > input {
  display: none;
}

#imagePreviewContainer {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 900px;
  height: 300px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.imgItem {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.imgItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 이미지 삭제 버튼 */
#imagePreviewContainer button {
  position: absolute;
  top: 7px;
  right: 0;
  background-color: black;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#imagePreviewContainer button::before,
#imagePreviewContainer button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: white;
}

#imagePreviewContainer button::before {
  transform: rotate(45deg);
}

#imagePreviewContainer button::after {
  transform: rotate(-45deg);
}

#imgPreview {
  position: absolute;
  top: 0;
  left: 0;
}

.input-wrapper > input[type='color'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}

.input-wrapper > input[type='color']::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}
.input-wrapper > input[type='color']::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

#text-input {
  margin-top: 10px;
  border: none;
  width: 900px;
  /* margin-top: 30px; */
  font-size: 18px;
}
#text-input:focus {
  outline: none;
}
.active {
  background-color: #e0e9ff;
}

/* #editor {
  width: 900px;
  resize: none;
  border: 0;
  overflow: hidden;
  margin-top: 30px;
  font-size: 18px;
}

#editor:focus {
  outline: none;
} */

footer {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid rgb(73, 80, 87);
}

#copy {
  float: left;
  line-height: 70px;
  margin-left: 30px;
  color: rgb(73, 80, 87);
}

#fooBtn {
  float: right;
  line-height: 70px;
}
button {
  width: 112px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  border: 0;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.btnSave {
  background-color: white;
  color: rgb(73, 80, 87);
}
.btnSave:hover {
  background-color: black;
  color: white;
}
.btnPublish {
  background-color: black;
  color: white;
}

.btnPublish {
  margin-right: 20px;
}
